.doc-nav
{
display: flex;
justify-content: center;

}
ul {
    list-style: none;

}

.doc-menu
{display: flex;
    justify-content: space-between;
}

.doc-menu li
{
    padding: 010PXS;
}

.doc-menu li
coloer : hodab 
.dropdwe-menu
{
    display:flex;
    flex diren:colun;
    justify content:spcee belewene



}

